@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,700&family=Poppins:wght@400;500;600;700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-family: "Poppins";
}
:root{
    --yellow: #FFD300;
}