.searchInputs {
    margin-top: 0px;
    display: flex;
  }

 .search input {
    background-color: rgb(196, 196, 196);
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 25px;
    padding: 15px;
    height: 50px;
    width: 850px;
  }
  
  .searchIcon {
    height: 80px;
    width: 50px;
    background-color: rgb(196, 196, 196);
    display: grid;
    place-items: center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-left: 80px;
  }
  
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 35px;
  }
  
  .dataResult {
    margin-top: 5px;
    width: 300px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
  }
  
  .dataItem p {
    margin-left: 10px;
  }
  a {
    text-decoration: none;
  }
  
  a:hover {
    background-color: lightgrey;
  }
  
  #clearBtn {
    cursor: pointer;
  }