.searchbar{
    text-align: center;
}
.security {
    margin-left: 260px;
    margin-top: 250px;
}

.status {
    margin-top: 15px;
}

.fav-button{
    margin-top: 20px;
    background-color: tomato;
    font-size: 13px;   
    border-radius: 7px;
    height: 25px;
    width: 160px;
}

.comments {
    margin-left: 240px;
    margin-top: 300px;
}