.page{
    text-align: center;
}
.App {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
  }

.security {
    color: green;
    font-size: 35px;
    margin-right: 600px;
    margin-top: 200px;
}

.status {
    margin-left: 77px;
    font-size: 20px;
    color: black;
    margin-top: 15px;
}

.heart{
    margin-right: 160px;
}
.fav-button{
    margin-right: 277px;
    margin-top: 20px;
    background-color: rgb(0, 0, 0);   
    border-radius: 7px;
    height: 30px;
    width: 180px;
    color:rgb(255, 255, 255)

}

.img-bola{
    margin-left: 500px
}
.comments {
    margin-right: 1250px;
    margin-top: 270px;
}