.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}
.App {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
  }

.security {
    display: flex;
    align-items: center;
    align-content: center;
    color: green;
    font-size: 35px;
}

.status {
    margin-left: 80px;
    font-size: 20px;
    color: black;
    margin-top: 15px;
}

.heart{
    margin-right: 160px;
}
.fav-button{
    margin-right: 240px;
    margin-top: 20px;
    background-color: rgb(0, 0, 0);   
    border-radius: 7px;
    height: 30px;
    width: 180px;
    color:rgb(255, 255, 255)

}

.img-bola{
    margin-left: 250px
}
.comments {
    margin-right: 1250px;
    margin-top: 270px;
}

.banner {
    display: flex;
    align-items: center;
}